server = true
web_port = 8000
redis = 127.0.0.1:6379
ytkey = xxxxxxxxxxxxxxx
igkey = xxxxxxxxxxxxxxx
fbkey = xxxxxxxxxxxxxxx
fbsecret = xxxxxxxxxxxxxxx
; vnuser = mike@thatmikeflynn.com
; vnpassword = michael2
stopwords = ./static/stopwords.txt